.root{
    -fx-background-color: #EAEEF4;
}

#side_anchorpane{
    -fx-background-color: #232323;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: transparent;
    -fx-border-style: solid;
}

#inner_pane{
    -fx-background-color: #748CF1;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}

#most_inner{
    -fx-background-color: #6780E2;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #748CF1;
}

.button{
    -fx-background-color: rgba(48, 72, 81, 0.42);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #304851;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

.button:hover{
    -fx-background-color: #304851;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #304851;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
    -fx-translate-y: 2;
}

.button:pressed{
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #41673c;
}

#search_bar{
    -fx-background-color: rgba(48, 72, 81, 0.62);
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-width: 0px 0px 4px 0px;
    -fx-border-style: solid;
    -fx-border-color: rgba(48, 72, 81, 0.76);
}

#inf_one{
    -fx-background-color: #304851;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

#inf_one:hover{
    -fx-translate-y: -4;
    -fx-background-color: #304851;
}

#inf_two{
    -fx-background-color: #304851;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

#inf_two:hover{
    -fx-translate-y: -4;
    -fx-background-color: #304851;
}

#inf_3{
    -fx-background-color: #304851;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

#inf_3:hover{
    -fx-translate-y: -4;
    -fx-background-color: #304851;
}

#back_btn{
    -fx-background-color: rgba(35, 35, 35, 0.94);
    -fx-border-color: #304851;
    -fx-border-width: 3px 3px 3px 3px;
    -fx-border-radius: 15;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

#back_btn:hover {
    -fx-background-color: rgb(35, 35, 35);
    -fx-border-color: #EAEEF4;
    -fx-translate-y: 2;
    -fx-border-radius: 0;
    -fx-border-width: 0px 0px 0px 0px;
}

#back_btn:pressed{
    -fx-border-color: #EAEEF4 ;
    -fx-background-color: rgba(35, 35, 35, 0.18);
}

#mostUse{
    -fx-background-color: rgba(48, 72, 81, 0.42);
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #304851;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

#mostUse:hover{
    -fx-background-color: #304851;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-style: solid;
    -fx-border-color: #304851;
    -fx-font-weight: bold;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
    -fx-translate-y: 2;
}

#mostUse:pressed{
    -fx-border-width: 0px 0px 2px 0px;
    -fx-border-color: #41673c;
}

#form{
    -fx-background-color: rgb(255, 255, 255);
    -fx-background-radius: 20;
    -fx-effect: innershadow(gaussian, rgba(0, 0, 0, 0.5), 20, 0.1, 5, 5);
}

#submit_btn{
    -fx-background-color: rgb(48, 80, 37);
    -fx-border-color: rgba(48, 80, 37, 0.80);
    -fx-border-width: 3px 3px 3px 3px;
    -fx-border-radius: 15;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

#submit_btn:hover {
    -fx-background-color: rgba(48, 80, 37, 0.78);
    -fx-border-color: #EAEEF4;
    -fx-translate-y: 2;
    -fx-border-radius: 0;
    -fx-border-width: 0px 0px 0px 0px;
}

#submit_btn:pressed{
    -fx-border-color: #EAEEF4 ;
    -fx-background-color: rgba(48, 80, 37, 0.93);
}

#clear_btn{
    -fx-background-color: rgb(128, 36, 36);
    -fx-border-color: rgba(128, 36, 36, 0.80);
    -fx-border-width: 3px 3px 3px 3px;
    -fx-border-radius: 15;
    -fx-text-fill: #fff;
    -fx-cursor: hand;
}

#clear_btn:hover {
    -fx-background-color: rgba(128, 36, 36, 0.78);
    -fx-border-color: #EAEEF4;
    -fx-translate-y: 2;
    -fx-border-radius: 0;
    -fx-border-width: 0px 0px 0px 0px;
}

#clear_btn:pressed{
    -fx-border-color: #EAEEF4 ;
    -fx-background-color: rgba(128, 36, 36, 0.93);
}

.table-view{
    -fx-background-color: transparent;
    -fx-border-color: rgba(48, 72, 81, 0.85);
    -fx-border-radius: 8px;
    -fx-border-width: 3px 3px 3px 3px;

}
