.button{
    -fx-background-color: transparent;
    -fx-border-color: #dcb61d;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 8;
    -fx-text-fill: #fff;
    -fx-cursor: hand;

}
.button:hover {
    -fx-background-color: rgba(220, 182, 29, 0.27);
    -fx-border-color: #fff;
    -fx-background-radius: 10;
    -fx-translate-y: 2;
 }

.button:pressed{
    -fx-border-color: #fff ;
    -fx-background-color: rgba(220, 182, 29, 0.7);
    -fx-background-radius: 10;
}




